<div>
    {{#if products.length}}
        <h1>Bienvenido, {{first_name}} {{last_name}}</h1>
        <h2>Product list - Total {{records}}:</h2>
        <ul>
        {{#each products}}
            {{#if status}}
            <li>Title: {{title}}<br>Description: {{description}}<br>Stock: {{stock}}<br>Price: {{price}}</li>
            <button class="cartAdd" data-id="{{_id}}">Add product to cart</button>
            <br><br>
            {{else}}
            <li>Title: {{title}}<br>Description: {{description}}<br>Stock: {{stock}}<br>Price: {{price}}</li>
            <p>Product inactive!</p>
            <br><br>
            {{/if}}
        {{/each}}
        </ul>
        <button id="checkout" data-cart="{{cart}}">Checkout</button>
        <br>
        <br>
        {{#if hasPrevPage}}
            <span><a href="{{prevLink}}">Previous page</a> || </span>
            <span><a href="{{homeLink}}">First page</a> || </span>
        {{/if}}
        {{#if hasNextPage}}
            <span><a href="{{nextLink}}">Next page</a></span>
        {{/if}}
        <br><br>
        <div>
            {{#if hasPrevPage}}
                <span>{{prevPage}} || </span>
            {{/if}}
                <span> [ {{page}} / {{totalPages}} ]</span>
            {{#if hasNextPage}}
                <span> || {{nextPage}}</span>
            {{/if}}

            <form action='/profile'>
              <input type='submit' value='User Profile' />
            </form>
            {{#if admin}}
                <button onclick="location.href='/api/users'">User ADMIN</button>
            {{/if}}
            <form action='/logout'>
              <input type='submit' value='Logout' />
            </form>
        </div>
    {{else}}
        <h1>Bienvenido, {{first_name}} {{last_name}}</h1>
        <h2>Product list:</h2>
        <p>No products created!</p>
    {{/if}}
</div>

<script src="/products.js"></script>