<div>
    {{#if products.length}}
        <h1>Bienvenido, {{first_name}} {{last_name}}</h1>
        <h2>Product list - Total {{records}}:</h2>
        <ul>
        {{#each products}}
            {{#if status}}
            <li>Title: {{title}}<br>Description: {{description}}<br>Stock: {{stock}}<br>Price: {{price}}</li>
            <button class="cartAdd" data-id="{{_id}}">Add product to cart</button>
            <br><br>
            {{else}}
            <li>Title: {{title}}<br>Description: {{description}}<br>Stock: {{stock}}<br>Price: {{price}}</li>
            <p>Product inactive!</p>
            <br><br>
            {{/if}}
        {{/each}}
        </ul>
        <button id="checkout" data-cart="{{cart}}">Checkout</button>
        <br>
        <br>
        {{#if hasPrevPage}}
            <span><a href="{{prevLink}}">Previous page</a> || </span>
            <span><a href="{{homeLink}}">First page</a> || </span>
        {{/if}}
        {{#if hasNextPage}}
            <span><a href="{{nextLink}}">Next page</a></span>
        {{/if}}
        <br><br>
        <div>
            {{#if hasPrevPage}}
                <span>{{prevPage}} || </span>
            {{/if}}
                <span> [ {{page}} / {{totalPages}} ]</span>
            {{#if hasNextPage}}
                <span> || {{nextPage}}</span>
            {{/if}}
        </div>
    {{else}}
        <h1>Bienvenido, {{first_name}} {{last_name}}</h1>
        <h2>Product list:</h2>
        <p>No products created!</p>
    {{/if}}

    <br><button onclick="location.href='/profile'">User Profile</button>
    {{#if admin}}
        <br><button onclick="location.href='/api/users'">User ADMIN</button>
        <br><button onclick="location.href='/api/carts'">Carts list</button>
    {{else}}
        <br><button onclick="location.href='/chat'">Chat</button>
    {{/if}}
    <br><button onclick="location.href='/api/sessions/current'">Current active session</button>
    <br><button onclick="location.href='/realtimeproducts'">Realtime Products list</button>
    <br><button onclick="location.href='/api/products'">Products list from DB (JSON)</button>
    <br><button onclick="location.href='/api/products/mockingproducts'">Products list DEMO (JSON)</button>
    <br><button onclick="location.href='/logout'">Logout</button>
    <br><br><button onclick="location.href='/docs'">Open API Documentation [Swagger]</button>
</div>

<script src="/products.js"></script>