<h1><u>Profile</u></h1>
<h2>User details:</h2>
<span><b>First name: </b></span><span>{{session.first_name}}</span><br>
<span><b>Last name: </b></span><span>{{session.last_name}}</span><br>
<span><b>User email: </b></span><span>{{session.email}}</span><br>
<span><b>Age: </b></span><span>{{session.age}}</span><br>
<span><b>Role: </b></span><span>{{session.role}}</span><br>
<span><b>Password: </b></span><span>**********</span><br>

<form action='/'>
    <input type='submit' value='Products list' />
</form>

<form action='/logout'>
  <input type='submit' value='Logout' />
</form>